<div class="gv-summary-wrapper">
    {{#.}} {{#dup}}
    <div class="gv-summary" id="dup">
        <h3>DUP</h3><span class="gv-seats-summary dup">{{seats}} seats</div>{{/dup}}
{{#sf}}<div class="gv-summary" id="sf"><h3>Sinn Féin</h3><span class="gv-seats-summary sf">{{seats}} seats</div>{{/sf}}
{{/.}}
</div>
<div class="gv-elex-chamber-wrapper">
{{#.}}
<div class="gv-elex-bar gv-{{party}}" style="width:{{seatshare}}%"></div>
{{/.}}
</div>
<div class="gv-elex-legend">
    {{#.}}
    {{#hasSeats}}
    <div class="gv-elex-legend-entry">
    <div class="gv-elex-blob gv-{{party}}"></div>{{displayname}}</div>
    {{/hasSeats}}
    {{/.}}</div>