<table>
    <tr>
        <th></th>

        <th class="gv-elex-change">+/-</td>

        <th class="gv-elex-votes">votes</th>
    </tr>


    {{#.}}
    <tr>
        <td>
            <div class="gv-elex-result">
                <div class="gv-elex-candidate">
                     <span class="gv-elex-party">{{party}}  </span>   <span class="gv-elex-candidatename">{{candidate}}</span> <span class="gv-elex-share">{{share}}%</span></div>
                <div class="gv-elex-bar" style="width:{{width}}; background-color:{{color}}"></div>
            </div>
        </td>

        <td class="gv-elex-change">{{change}}</td>
        <td class="gv-elex-votes">{{votes}}</td>
    </tr>

    {{/.}}

    </table>