
<h3>Full results</h3>
<table>
    <tr>
        <th></th>

        <th class="gv-elex-change">2016¹</td>

        <th class="gv-elex-votes">vote share²</th>
    </tr>


    {{#.}}
    <tr>
        <td>
            <div class="gv-elex-result">
                <div class="gv-elex-candidate">
                     <span class="gv-elex-party">{{displayname}}</span><span class="gv-elex-share">{{seatsmessage}}</span></div>
{{#chartable}}
                <div class="gv-elex-bar gv-{{party}}" style="width:{{width}};"></div>
{{/chartable}}
            </div>
        </td>

        <td class="gv-elex-change">{{2016}}</td>
        <td class="gv-elex-votes">{{votesharevalue}}%</td>
    </tr>

    {{/.}}

    </table>