@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

$dup-colour:#99002E;
$sf-colour: #7EAA58;
$sdlp-colour:#008587;
$uup-colour: #203360;
$alliance-colour:#F2D303;
$tuv-colour: #B3B3B4 ;
$green-colour: #B3B3B4;
$pbp-colour: #B3B3B4;


.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.gv-elex-wrapper.liveblog {
    padding-left: 80px;
    padding-right: 15px;
}

.gv-elex-heading {
    margin: 0 !important;
}

.gv-elex-subhead {
    margin: 0 !important;
    @include fs-bodyHeading(1);
    color: #555;
}

.gv-elex-footer {
    @include fs-textSans(1);
    margin: 0 !important;
      color: #555;
 
}

.gv-summary {
    display: inline-block;
    &#sf {
        float:right;
    }
    &#dup {
        float:left;
    }
}

.gv-party-seat.gv-DUP > path {
    fill: $dup-colour;
}
.gv-party-seat.gv-SF > path {
    fill: $sf-colour;
}
.gv-party-seat.gv-UUP > path {
    fill: $uup-colour;
}
.gv-party-seat.gv-SDLP > path {
    fill: $sdlp-colour;
}

.gv-elex-chamber-wrapper {
    clear: both;
    display: block;
    height: 20px;
    width: 100%;
}

g > text, g > text > tspan {
      text-shadow:
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.gv-elex-summary-wrapper {
    margin: 1px;
    display: block;
    clear: both;
}


.gv-elex-bar {
    .gv-elex-chamber & {
        display: inline-block;
        margin: 0px !important;
        &.gv-SF {
           float:right; 
        };
        &.gv-SDLP {
           float:right; 
        };
         &.gv-DUP {
           float:left; 
        };
        &.gv-UUP {
           float:left; 
        };
    };
    height: 18px;
    &.gv-DUP {
        background-color: $dup-colour;
    }
    &.gv-SF {
        background-color: $sf-colour;
    }
    &.gv-UUP {
        background-color: $uup-colour;
    }
    &.gv-SDLP {
        background-color: $sdlp-colour;
    }
    &.gv-Alliance {
        background-color: $alliance-colour;
    }

}

// .gv-elex-bar.gv-DUP {background-color: $dup-colour; }
.gv-elex-bar.gv-SF {background-color: $sf-colour; }
.gv-elex-bar.gv-UUP {background-color: $uup-colour; }
.gv-elex-bar.gv-SDLP {background-color: $sdlp-colour; }
.gv-elex-bar.gv-Alliance {background-color: $alliance-colour; }
.gv-elex-bar.gv-TUV {background-color: $tuv-colour; }

.gv-party-seat > path {
    fill: slategrey;
}



table {
    width: 100%;
}

tr {
    padding-top: 15px;
    border: 1px solid black;
}

td {
    @include fs-textSans(2);
    vertical-align: top;
    padding-right: 1px;
    border-top: 1px solid #ccc;
}

th {
    @include fs-textSans(1);
    color: #666;
}

.gv-elex-candidate {
    padding-right: 20px;
}

.gv-elex-result {
    padding-bottom: 5px;
    vertical-align: top;
}

.gv-elex-party {
    font-weight: 700;
    color: #333;
    padding-right: 3px;
}

.gv-elex-candidatename {
    color: #555;
    padding-right: 3px;
}

.gv-elex-rule {
    display: none;
}

.gv-elex-votes, .gv-elex-change {
    text-align: right;
    @include fs-textSans(1);
}


