@import "mq";
@import "fonts";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

$dup-colour:#99002E;
$sf-colour: #7EAA58;
$sdlp-colour:#008587;
$uup-colour: #203360;
$alliance-colour:#ffb900;
$tuv-colour: #dadada ;
$green-colour: #dadada;
$pbp-colour: #dadada;
$others-colour: #dadada;


.element-atom,
.interactive-atom {
    margin: 0 !important;
   
}

.gv-elex-results {
    margin-top: 20px;
}

.gv-elex-wrapper{
    max-width: 620px;
    @media (min-width: 980px) {
        padding-right: 320px !important;
    }

    @media (min-width: 1140px) {
        padding-left: 160px !important;
    }
    @media (min-width: 1300px){
        padding-left: 240px !important;
    }
}

.gv-elex-heading {
    margin: 0 !important;
}

.gv-elex-subhead {
    margin: 0 !important;
    @include fs-bodyHeading(1);
    color: #555;
}

.gv-elex-footer {
    @include fs-textSans(1);
    margin: 0 0 30px 0!important;
      color: #555;
 
}

.gv-summary {

    h3 {
       @include f-textSans;
    color: #333;
    font-size: 24px;
    line-height: 28px;
    
    }

    display: inline-block;
    @include fs-data(3);
    &#sf {
        float:right;
    }
    &#dup {
        float:left;
    }
}

.gv-elex-chamber {
    background-color: #eee;
}

.gv-party-seat.gv-DUP > path {
    fill: $dup-colour;
}
.gv-party-seat.gv-SF > path {
    fill: $sf-colour;
}
.gv-party-seat.gv-UUP > path {
    fill: $uup-colour;
}
.gv-party-seat.gv-SDLP > path {
    fill: $sdlp-colour;
}
.gv-party-seat.gv-APNI > path {
    fill: $alliance-colour;
}

.gv-elex-chamber-wrapper {
    clear: both;
    display: block;
    height: 20px;
    width: 100%;
}


g > text, g > text > tspan {  
    @include fs-headline(1);
    @media (min-width: 620px) {
    fill: white;
      text-shadow:
        -1px -1px 0 #666,  
        1px -1px 0 #666,
        -1px 1px 0 #666,
        1px 1px 0 #666;

                &.fermanagh {
    fill: black;
      text-shadow:
        -1px -1px 0 #ddd,  
        1px -1px 0 #ddd,
        -1px 1px 0 #ddd,
        1px 1px 0 #ddd;
            
        }
    }
    fill: black;
      text-shadow:
        -1px -1px 0 #ddd,  
        1px -1px 0 #ddd,
        -1px 1px 0 #ddd,
        1px 1px 0 #ddd;


}

.gv-elex-summary-wrapper {
    margin: 1px;
    display: block;
    clear: both;
}

.gv-seats-summary.sf  {
    float: right;
}

h3 {
    margin-bottom: 2px !important;
}

.gv-elex-legend-entry {
    display: inline-block;
    @include fs-data(2);
}

.gv-elex-legend {
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
}

.gv-halfway-line {
    @include fs-data(1);
    position: relative;
    text-align:center;

    ::before {
    content: '';
    display: block;
    position: absolute;
    border: 0;
    border-left: 1px solid #767676;
    left: 50%;
    top: -7px;
    height: 8px;
    }
}

.gv-elex-map {
    display: block;
    margin-top: 45px;
    clear: both;
}

.gv-elex-svg {
    margin-top: 15px;
}

.gv-elex-chamber {
    margin-bottom: 5px;
    clear: both;
}

.gv-elex-chamber-wrapper {
    display: block;
    height: 50px;
    background-color: #ECECEC;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFAQMAAAC3obSmAAAABlBMVEUAAACOjo7hzJSnAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQffCRIOGhhxY7a4AAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAAASSURBVAjXY+BgEGBQYHBgaAAAAqIA+YOVR0gAAAAASUVORK5CYII=');
    background-repeat: repeat;
    margin-bottom: 35px;
}

.gv-elex-bar {
    .gv-elex-chamber & {
        height:50px;
        display: inline-block;
        margin: 0px !important;
        &.gv-SF {
           float:right; 
        };
        &.gv-SDLP {
           float:right; 
        };
         &.gv-DUP {
           float:left; 
        };
        &.gv-UUP {
           float:left; 
        };
        &.gv-TUV {
            float:left;
        }; 
        &.gv-PBP {
           float:right;
        }; 
        &.gv-Green {
           float:right;
        };    
        &.gv-Others {
           float:left;            
        };
    };
    height: 18px;
    &.gv-DUP {
        background-color: $dup-colour;
    }
    &.gv-SF {
        background-color: $sf-colour;
    }
    &.gv-UUP {
        background-color: $uup-colour;
    }
    &.gv-SDLP {
        background-color: $sdlp-colour;
    }
    &.gv-APNI {
        background-color: $alliance-colour;
    }
        &.gv-green {
        background-color: $green-colour;
    }
        &.gv-TUV {
        background-color: $tuv-colour;
    }
        &.gv-Others {
        background-color: $others-colour;
    }

}

.gv-elex-blob {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    border-radius: 2px 2px 2px 2px;
}

// .gv-elex-bar.gv-DUP {background-color: $dup-colour; }
.gv-elex-bar.gv-SF, .gv-elex-blob.gv-SF, {background-color: $sf-colour; }
.gv-elex-bar.gv-DUP, .gv-elex-blob.gv-DUP {background-color: $dup-colour; }
.gv-elex-bar.gv-UUP, .gv-elex-blob.gv-UUP {background-color: $uup-colour; }
.gv-elex-bar.gv-SDLP, .gv-elex-blob.gv-SDLP  {background-color: $sdlp-colour; }
.gv-elex-bar.gv-APNI, .gv-elex-blob.gv-APNI {background-color: $alliance-colour; }
.gv-elex-bar.gv-TUV, .gv-elex-blob.gv-TUV {background-color: $tuv-colour; }
.gv-elex-bar.gv-Green, .gv-elex-blob.gv-Green {background-color: $green-colour; }
.gv-elex-bar.gv-PBP, .gv-elex-blob.gv-PBP {background-color: $pbp-colour; }
.gv-elex-bar.gv-Others, .gv-elex-blob.gv-Others {background-color: $others-colour; }
.gv-elex-bar {background-color: $others-colour; }

.gv-party-seat > path {
    fill: slategrey;
}

.gv-party-seat > path {
    stroke-width: 0.2px;
}


#belfast_x5F_border, #all_x5F_constit_x5F_border {
    stroke: #fff;
    stroke-width: 5px;
    z-index: -9;
}

#all_x5F_constit_x5F_border > polygon { 
    stroke: #fff;
    stroke-width: 3px;
    z-index: -9;
    }


table {
    border:none;
    width: 100%;
}

tr {
    padding-top: 15px;
}

td {
    @include fs-textSans(2);
    vertical-align: top;
    padding-right: 1px;
    border-top: 1px solid #ccc;
}

th {
    @include fs-textSans(1);
    color: #666;
}

.gv-elex-candidate {
    padding-right: 20px;
}

.gv-elex-result {
    padding-bottom: 5px;
    vertical-align: top;
}

.gv-elex-party {
    font-weight: 700;
    color: #333;
    padding-right: 3px;
}

.gv-elex-candidatename {
    color: #555;
    padding-right: 3px;
}

.gv-elex-rule {
    display: none;
}

.gv-elex-votes, .gv-elex-change {
    text-align: right;
    @include fs-textSans(1);
}


